
@{
    Layout = null;
}
@model IEnumerable<ZeonTicaret.WebUI.Models.Urun>
<script src="~/Content/Zeon/js/jquery-1.10.0.min.js"></script>
    <script>
        $(document).ready(function myfunction() {
            $(".sepeteAt").click(function myfunction() {
                var uid = $(this).attr("data-id");
                $.ajax({
                    type: "GET",
                    url: "/Home/SepeteEkle",
                    data: { id: uid },
                    success: function myfunction() {
                        $.ajax({
                            type: "GET",
                            url: "/Home/MiniSepetWidget",
                            success: function VeriGetir(veri) {
                                $(".cart-all").html('');
                                $(".cart-all").html(veri);
                            }
                            
                        })
                    },
                    error: function myfunction() {
                        alert("Hata : Ürün Sepete Eklenemedi.");
                    }
                })
            })
        })
    </script>

<div class="box">
    <div class="container">
        <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
            <div class="site-title">
                <ul class="wrapper-arrows">
                    <li><i class="icon-517 prev" title="left arrow"></i></li>
                    <li><i class="icon-501 next" title="right arrow"></i></li>
                </ul> 
                <div class="site-inside"><span>New Products</span></div>
            </div>
            <div class="row">
                <div class="tesla-carousel-items">
                    @foreach (var urun in Model)
                    {
                        <div class="col-md-3 col-xs-6">
                            <div class="product">
                                <div class="product-cover">
                                    <div class="product-cover-hover"><span><a href="/Home/UrunDetay/@urun.Adi">Görüntüle</a></span></div>
                                    @if (urun.Resims.Count > 0 && urun.Resims.Any(x => x.Varsayilan == true))
                                    {
                                        <img src="@urun.Resims.FirstOrDefault(x => x.Varsayilan == true).OrtaYol" alt="@urun.Adi" />
                                    }                                   
                                </div>
                                <div class="product-details">
                                    <h1><a href="/Home/UrunDetay/@urun.Adi">@urun.Adi</a></h1>
                                    <p>@urun.Aciklama</p>
                                    <div class="product-price">
                                        <a href="#" class="sepeteAt" data-id="@urun.Id"><i class="icon-257" title="Sepete Ekle"></i></a>
                                        
                                        @urun.SatisFiyat
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>